In [1]:
def printAll(myCollection):
    for a in myCollection:
        print(a)

In [19]:
class Student:
    def __init__(self, name):
        self.name = name
        
    def __repr__(self):
        return '{}'.format(self.name)
        
class Teacher:
    def __init__(self, name, students):
        self.name = name
        self.students = students
    
    def __repr__(self):
        return '{}'.format(self.name)
    
    def __str__(self):
        return '{}'.format(self.name)

In [3]:
#Data Structures

In [25]:
mytuple = ("apple", "banana", "cherry", "cherry")
mylist = ["horse", "dog", "cat", "cat"]
myset = {"house", "appartment", "shed", "shed"}
mydict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 1967
}

'''
myIterList = iter(mylist)

while True:
    try:
        item = next(myIterList)
        print(item)
    except StopIteration:
        break
        
'''

horse

'\nmyIterList = iter(mylist)\n\nwhile True:\n    try:\n        item = next(myIterList)\n        print(item)\n    except StopIteration:\n        break\n        \n'

In [6]:
print(mytuple,'\n',mylist,'\n',myset,'\n',mydict)

('apple', 'banana', 'cherry', 'cherry')
 ['horse', 'dog', 'cat', 'cat']
 {'house', 'shed', 'appartment'}
 {'brand': 'Ford', 'model': 'Mustang', 'year': 1967}

In [12]:
mylist[0] = "deer"
print(mylist)

['deer', 'dog', 'cat', 'cat']
('pear', 'banana', 'cherry', 'cherry')

In [16]:
#Man kan ikke fÃ¥ retuneret et index af set.
print(mytuple[0],'\n',mylist[0],'\n',mydict["brand"])

pear
 deer
 Ford

In [ ]:
#List Comprehension

In [13]:
mynumbers = []
myrange = range (100)
for x in myrange:
    if x >= 10:
        mynumbers.append(x)

print(mynumbers)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [14]:
mynumbers = []
myrange = range(100)
mynumbers = [x for x in myrange if x >= 10]
print(mynumbers)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [20]:
students = []

student1 = Student("Bob")
student2 = Student("Harald")
student3 = Student("Knud")
student4 = Student("Lis")

students.append(student1)
students.append(student2)
students.append(student3)
students.append(student4)

teachers = []

teacher1 = Teacher("Olaf", [student1, student2, student3])
teacher2 = Teacher("Bent", [student2, student3, student4])

teachers.append(teacher1)
teachers.append(teacher2)


compre = [(t, s) for t in teachers for s in students if s in t.students]

print(compre)

[(Olaf, Bob), (Olaf, Harald), (Olaf, Knud), (Bent, Harald), (Bent, Knud), (Bent, Lis)]

In [ ]:
#iterable

In [21]:
print("___Tuple___")
printAll(mytuple)
print("___List___")
printAll(mylist)
print("___Set___")
printAll(myset)
print("___Dict___")
printAll(mydict)

___Tuple___
pear
banana
cherry
cherry
___List___
deer
dog
cat
cat
___Set___
house
shed
appartment
___Dict___
brand
model
year